#exclude POO projects
.DS_Store
.ipynb_checkpoints/AnaliseCSV-checkpoint.ipynb
.ipynb_checkpoints/AEC_T2-checkpoint.ipynb
Tarefa4_23_com_refactor/Tarefa4_23_com_refactor.iml
Tarefa4_23_com_refactor/.idea/sonarlint/issuestore/index.pb
Tarefa4_23_com_refactor/.idea/vcs.xml
Tarefa4_23_com_refactor/.idea/sonarlint/issuestore/3/3/333616a7d86384df3240d311cc1fb64def74e3be
Tarefa4_23_com_refactor/.idea/modules.xml
Tarefa4_23_com_refactor/.idea/misc.xml
Tarefa4_23_com_refactor/.idea/inspectionProfiles/Project_Default.xml
